 
.cardGradient{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,1,1,0) 100%);
}

@media screen and (max-width: 600px) {
  .cardSwiperSlider{
    width: 200px;
  }
}
@media screen and (min-width: 900px) {
  .cardSwiperSlider{
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .cardSwiperSlider{
    width: 500px;
  }
}