
.container {
  max-width: 100vh;
  
  margin: 0 auto;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.titleSwiperContainer {
  width: 100%;
  height: 15rem;
  padding: 2rem 0;
  position: relative;
}

.titleSwiperSlider {
  width: 35rem;
  height: 8rem;
  position: relative;
  text-align: center;
  cursor:pointer
}

@media screen and (max-width: 1440px) {
  .titleSwiperContainer {
    max-width: 100%
  }
  .titleSwiperSlider {
    width: 24rem !important;
    height: 8rem !important;
  }}
  /*@media screen and (max-width: 1280px) {
    .swiper_container {
      max-width: 100%
    }
}*/
@media screen and (max-width: 500px) {
  .titleSwiperContainer {
    width: 40vh;
  }
  .titleSwiperSlider {
    width: 8rem !important;
    height: 8rem !important;
  }
}
 
 
/*.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}*/
