.back{
  background: rgb(85,54,125);
background: linear-gradient(356deg, rgba(85,54,125,1) 0%, rgba(52,177,151,1) 100%);
}
.sectionTitle{
  background: rgb(85,54,125);
  background: linear-gradient(93deg, rgba(85,54,125,1) 0%, rgba(52,177,151,1) 100%);
}
.title{
  color: white;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  width: '100%';
  transition: all 2s ease-in-out;
}
.scroll-container {
  display: flex;
  /* This is needed to prevent the image from "jittering" partway through the transition */
  overflow: hidden;
}
.img-container {
  display: flex;
  align-items: center;
}
*{
  font-family: 'Barlow Condensed', sans-serif !important;
}
body{
  background-color: #383737 !important;

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

button{
  text-transform: capitalize !important;
}