.back{
  background: rgb(85,54,125);
background: linear-gradient(356deg, rgba(85,54,125,1) 0%, rgba(52,177,151,1) 100%);
}
.sectionTitle{
  background: rgb(85,54,125);
  background: linear-gradient(93deg, rgba(85,54,125,1) 0%, rgba(52,177,151,1) 100%);
}
.title{
  color: white;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  width: '100%';
  transition: all 2s ease-in-out;
  /*font-family: 'Barlow Condensed', sans-serif !important;*/
}
.scroll-container {
  display: flex;
  /* This is needed to prevent the image from "jittering" partway through the transition */
  overflow: hidden;
}
.img-container {
  display: flex;
  align-items: center;
}
body{
  background-color: #383737 !important;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
@font-face {
  font-family: 'Cadiz';
  src: local('fonts/Cadiz SemiBold'), local('fonts/Cadiz-SemiBold'),
      url('./font/semibold/Cadiz-SemiBold.woff2') format('woff2'),
      url('./font/semibold/Cadiz-SemiBold.woff') format('woff'),
      url('./font/semibold/Cadiz-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Cadiz';
  src: local('Cadiz  Black Italic'), local('Cadiz--Black-Italic'),
      url('./font/black/Cadiz-BlackItalic.woff2') format('woff2'),
      url('./font/black/Cadiz-BlackItalic.woff') format('woff'),
      url('./font/black/Cadiz-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

.cadiz{
  font-family: 'Cadiz';
}

button{
  text-transform: capitalize !important;
}